@import "tailwindcss";

@import "tailwindcss";

/* raleway-latin-wght-normal */
@font-face {
  font-family: 'Raleway Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/raleway/files/raleway-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@theme {
  --font-raleway: "Raleway Variable", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  --color-primary-100: #FF7F50;
  --color-primary-200: #dd6236;
  --color-primary-300: #8f1e00;
  --color-accent-100: #8B4513;
  --color-accent-200: #ffd299;
  --color-text-100: #000000;
  --color-text-200: #2c2c2c;
  --color-bg-100: #F7EEDD;
  --color-bg-200: #ede4d3;
  --color-bg-300: #c4bcab;
}

body {
  font-family: var(--font-raleway);
  color: var(--text-100);
  background-color: var(--bg-100);
}