---
import Layout from "../layouts/Layout.astro";
import Trending from "@/components/Trending.astro";
import Categories from "@/components/Categories.astro";
---

<Layout title="ReelLibrary">
  <main>
    <Trending />
    <Categories />
  </main>
</Layout>
