---

---

<footer class="bg-bg-300 w-full h-16 flex items-center justify-center">
  <p class="text-base text-center">
    Made with ❤️ by <a
      target="_blank"
      rel="noopener noreferrer"
      class="text-primary-300/70 font-semibold"
      href="https://github.com/EdGonzz">Edwin Gonzalez</a
    >
  </p>
</footer>
