---
import type { Moviesbycategory } from "@/types/apiMovieByCategory";
import { getMoviesByCategory } from "@/services/getMoviesByCategory";

const data = (await getMoviesByCategory()) as Moviesbycategory;
const movies = data.results;
---

<header class="w-full h-16 flex items-center">
  <h2 class="text-2xl font-bold">Popular Movies</h2>
</header>
<div class="grid grid-cols-2 gap-6 w-full">
  {
    movies.map((movie) => (
      <a href={`/movie/${movie.id}`}>
        <article class="flex flex-col gap-3">
          <img
            src={`https://image.tmdb.org/t/p/w500${movie.poster_path}`}
            alt={movie.title}
            class="w-full object-contain rounded-lg"
          />
          <h3 class="text-xl font-bold text-balance">{movie.title}</h3>
        </article>
      </a>
    ))
  }
</div>
